<% content_for :nav do %>
  <li><%= link_to 'Pages', web_pages_path(@web) %></li>
<% end %>

<header>
  <h1><%= "#{@web.id}  #{@web.title}" %></h1>
</header>

<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @web.user %>
</p>

<p>
  <strong>Title:</strong>
  <%= @web.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @web.description %>
</p>

<p>
  <strong>Private:</strong>
  <%= @web.private %>
</p>

<%= link_to 'Edit', edit_web_path(@web) %> |
<%= link_to 'Back', webs_path %>
