<% content_for :nav do %>
  <li><%= link_to 'Pages', web_pages_path(@web) %></li>
<% end %>

<header>
  <h1><%= "#{@web.id}  #{@web.title}" %></h1>
</header>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.title %></td>
        <td><%= page.body[0..175] %></td>
        <td><%= link_to 'Show', [@web, page] %></td>
        <!--
          <td>< link_to 'Edit', edit_page_path(page) %></td>
          <td>< link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<!--
  < link_to 'New Page', new_page_path %>
-->
